
/* 채팅창 버튼 */
#userchat-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
}

#userchat-button:hover {
    background-color:#0056b3;
}

#userchat-button-icon{
    font-size: 24px;
}

/* 채팅창 스타일 */
#userchat-window {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    overflow: hidden;
    z-index: 1000;
}

/* 채팅창 헤더 스타일 */
#userchat-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

/* 채팅창 메시지 영역 */
#userchat-displaymsg {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    font-size: 14px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

/* 채팅창 입력 영역 */
#userchat-inputmsg {
    display: flex;
    padding: 10px;
}

#userchat-inputmsg-input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#userchat-inputmsg-button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#userchat-inputmsg-button:hover {
    background-color: #0056b3;
}